[Unit]
Description=Virtual Window
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/igncp/development/environment/src/project_templates/virtual_window/virtual_window.sh

[Install]
WantedBy=default.target
