[Service]
Type=simple
ExecStart=/bin/bash /home/igncp/development/environment/src/project_templates/virtual_window/virtual_window_check.sh

[Install]
WantedBy=default.target
