[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sleep 4 && DISPLAY=:0 xrandr --output eDP-1 --mode 1280x800 2>&1 >/tmp/log.txt'

[Install]
WantedBy=default.target
