<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
  <dict>
    <!-- 複製到 ~/Library/LaunchAgents/，檔案名稱盡量同服務名稱一致 -->
    <!-- 啟動：launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/com.prometheus-local-machines.plist -->
    <!-- 重新啟動：launchctl kickstart -k gui/$(id -u)/com.prometheus-local-machines.tunnel -->
    <!-- 列出已安裝單位：launchctl list；移除現有單位：launchctl bootout gui/$(id -u)/com.prometheus-local-machines.tunnel -->
    <!-- 查看即時單位日誌：log stream --predicate 'process == "launchd" AND eventMessage CONTAINS "com.prometheus-local-machines.tunnel"' -->
    <!-- 查看過去一小時單位日誌：log show --last 1h --predicate 'process == "launchd" AND eventMessage CONTAINS "com.prometheus-local-machines.tunnel"' -->
    <!-- 檢查格式：plutil -lint ~/Library/LaunchAgents/com.prometheus-local-machines.plist -->
    <key>Label</key>
    <string>com.prometheus-local-machines.tunnel</string>
    <key>StandardOutPath</key>
    <!-- **更新此處** -->
    <string>/tmp/XXX.log</string>
    <key>StandardErrorPath</key>
    <!-- **更新此處** -->
    <string>/tmp/XXX.log</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/ssh</string>
      <string>-NT</string>
      <string>-o</string>
      <string>ServerAliveInterval=30</string>
      <string>-o</string>
      <string>ServerAliveCountMax=3</string>
      <string>-o</string>
      <string>ExitOnForwardFailure=yes</string>
      <string>-o</string>
      <string>ConnectTimeout=5</string>
      <string>-o</string>
      <string>StrictHostKeyChecking=no</string>
      <string>-o</string>
      <string>UserKnownHostsFile=/dev/null</string>
      <string>-i</string>
      <string>/Users/igncp/.ssh/prometheus</string>
      <string>-L</string>
      <string>8090:127.0.0.1:9100</string>
      <string>igncp@192.168.X.X</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <!-- 每次重新連線嘗試之間延遲 30 秒 -->
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <!-- 減少日誌輸出 -->
    <key>LogPreferences</key>
    <dict>
      <key>LogLevel</key>
      <string>Notice</string>
    </dict>
  </dict>
</plist>
