# /etc/systemd/system/foo.service
# sudo systemctl daemon-reload

[Unit]
Description=Foo name
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=igncp
ExecStart=/bin/bash -c 'echo foo'

[Install]
WantedBy=multi-user.target
